{{#each this~}}
<li class="bt-content" id="{{id}}" style="background-image: url({{mainImg}})">
    <div class="bt-rank">{{rank}}</div>
    <div class="bt-content-bottom">
        <div class="bt-content-bottom-title">{{title}}</div>
        <div class="bt-content-bottom-order"><i class="fa fa-user-o"></i>{{orders}}명 주문중</div>
        <div class="bt-content-bottom-like"><i class="fa fa-heart"></i>좋아요</div>
    </div>
</li>
{{/each}}