<div class="sub-option-fee">
    <input id="checkboxId" type="checkbox" value="fee"> 배송비를 추가합니다.
    <div class="sub-option-fee-input">
        <input type="number"  placeholder="" value="{{deliveryPrice}}">
        <span>(0원 이면 체크를 해제해주세요.)</span>
    </div>
</div>
<div class="sub-option-category">
    <div class="sub-option-category-add">
        <button>
            <i class="fa fa-plus"></i>
        </button>
        카테고리 추가
    </div>
    <div class="sub-option-category-del">
        <button>
            <i class="fa fa-minus"></i>
        </button>
        카테고리 삭제
    </div>
    {{#each list}}
    <div class="sub-option-category-list">
        {{no}}. 카테고리 이름 : <input type="text" value="{{name}}">
        <div class="sub-option-category-list-button">
            <div class="category-list-add">
                <button>
                    <i class="fa fa-plus"></i>
                </button>
                옵션 추가
            </div>
            <div class="category-list-del">
                <button>
                    <i class="fa fa-minus"></i>
                </button>
                옵션 삭제
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>No</th>
                    <th>이름</th>
                    <th>가격</th>
                </tr>
            </thead>
            <tbody>
            {{#each options}}
                <tr>
                    <td>{{no1}}</td>
                    <td><input type="text" value="{{name}}"></td>
                    <td><input type="number" value="{{price}}"></td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
    {{/each}}
</div>